<div id="<%= dom_id poem %>">
  <p>
    <strong>Title:</strong>
    <%= poem.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= poem.content %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= poem.timestamp %>
  </p>

</div>
